*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background-color: #ccc;
    font-size: 1.2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://source.unsplash.com/random/1600x900/?landscape");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}
#heading{
    font-size: 4rem;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    gap: 2rem;
}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    background-color: #000000cc;
    padding: 25px 15px;
    border-radius: 1.5em;
    height: 100%;
    gap: 2rem;
    color: #ffffffcc;
}
.search .search-bar{
    border: none;
    width: 22rem;
    padding: 10px;
    border-radius: 0.5rem;
    font-size: 100%;
    font-family: inherit;
    outline: none;
    color: #fff;
    background-color: #8f8f8f7c;
}
.search button{
    height: 3rem;
    width: 3rem;
    border-radius: .9rem;
    border: none;
    outline: none;
    font-size: inherit;
    background-color: #8f8f8f7c;
    color: #858585;
    cursor: pointer;
}
.city{
    padding: 10px;
    margin-bottom: 10px;
}
.temp{
padding: 10px;
font-size: 2.5rem;
}
.description-section{
    padding: 8%;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    font-size: 1.8rem;
}
.info{
    display: flex;
    gap: 2rem;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 30%;
    background-color: #000000cc;
    padding: 15px;
    border-radius: 2em;
    height: 100%;
    color: #ffffff;
    font-size: 1rem;
}
.previous{
    color: #858585;
}
.next{
    color: #858585;
}