:root{
    --digital-gradient-color: radial-gradient(circle farthest-corner at left center, #0022ff 0%, rgba(0,139,255,0.8) 40%, #00e9ff 80%);
}

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background-color: #ccc;
    font-size: 1.2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://source.unsplash.com/random/1600x900/?landscape");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    width: 100vw;
}
#heading{
    font-size: 4rem;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    background-color: #000000cc;
    padding: 25px 15px;
    border-radius: 1.5em;
    height: 80%;
    gap: 2rem;
    color: #ffffffcc;
}
.digital-clock{
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   padding: 25px;
   justify-content: center;
   align-items: center;
}
.clock{
    font-size: 3rem;
}
.date{
    color: #747474;
}
.search .search-bar{
    border: none;
    max-width: 800px;
    padding: 10px;
    border-radius: 0.5rem;
    font-size: 100%;
    font-family: inherit;
    outline: none;
    color: #fff;
    background-color: #8f8f8f7c;
}
.search button{
    height: 3rem;
    width: 3rem;
    border-radius: .9rem;
    border: none;
    outline: none;
    font-size: inherit;
    background-color: #8f8f8f7c;
    color: #858585;
    cursor: pointer;
}
/*.contents.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}
.contents.loading:after{
    content: "Loading...";
    visibility: visible;
    color: #fff;
    position: absolute;
    top: 0;
    left: 20px;
}*/
.city{
    padding: 10px;
    margin-bottom: 10px;
}
.temp{
padding: 10px;
font-size: 2.5rem;
}
.description-section{
    padding: 8%;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    font-size: 1.8rem;
}
.description{
    text-transform: capitalize;
}
.info{
    display: flex;
    gap: 2rem;
}
@media(max-width:620px){
    .search-bar{
        width: 60%;
    }
    .heading{
        font-size: 0.1rem;
        text-align: center;
        margin: 0px 0px 0px 20px;
    }
}